<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
        {% for task in taskliste %}
        <li>
            <input type="checkbox" {% if task.done %}checked{% endif %}
                   onchange="window.location.href='/todolist/toggledone/{{ task.id }}'">
            {{ task.name }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>