{%  extends 'todo/base.html' %}
{%  load static %}

{%  block content %}
<div class="row justify-content-center pt-5 pb-5">
        <div class="col-4">
            <h1 class="align-center text-light text-center"><i class="bi bi-plus-square"></i> {{ task }} Task</h1>
        </div>

    </div>


<div class="row justify-content-center">
    <div class="col-6 bg-light bg-gradient p-5">
        <form action="{% url 'todo:index' %}" method="post">
            {% csrf_token %}
            {%  if item.id != None %}<input type="hidden" name="id" value="{{ item.id }}" />{%  endif %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" id="name" class="form-control" value="{{ item.name }}"/>
            </div>

            <div class="mb-3">
                <label for="due_date" class="form-label">Due date</label>
                <input type="datetime-local" id="due_date" name="due_date" class="form-control" value="{{ item.due_date | date:"Y-m-d" }}T{{ item.due_date | date:"h:m" }}"/>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea  name="description" id="description" maxlength="255" class="form-control" >{% if item.description != None %} {{item.description }} {% endif %}</textarea>
            </div>
            {% if item.id != null %}
            <div class="mb-3">
                <label for="description" class="form-label">Done</label>
                <input type="checkbox"  name="done" value="True" {%  if item.done == True %}checked{% endif %}/>
            </div>
            {%  endif %}

            <div class="mb-3">
                <a href="{% url 'todo:index' %}" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> back</a>

                <button class="btn btn-danger">Submit</button>
            </div>

        </form>
    </div>

</div>

{%  endblock %}