{%  extends 'todo/base.html' %}
{% load static %}

{%  block content %}
    <nav class="navbar navbar-expand navbar-light justify-content-end">
     <div class="container-fluid">
         <a href="" class="link-light"><i class="bi bi-person-circle"></i></a>
     </div>
    </nav>

    <div class="row justify-content-center pt-5 pb-5">
        <div class="col-12">
            <h1 class="display-4 text-center text-light fw-light"><i class="bi bi-grid"></i> All Tasks</h1>
        </div>

    </div>

    <div class="row pt-5">
        <form class="row justify-content-center" action="{% url 'todo:index' %}" method="post">
            {% csrf_token %}
            <div class="col-8 col-lg-8">
                    <div class="input-group">
                        <input type="text" name="name" id="name" class="form-control col" placeholder="Your task" aria-label="Example text with button addon" aria-describedby="button-new" />
                        <input type="datetime-local" id="due_date" name="due_date"  class="form-control col-2" />
                        <button href="create" class="btn btn-danger col-6 col-sm-4 col-lg-4 shadow" id="button-new">
                            <i class="bi bi-plus-square"></i> New
                        </button>
                    </div>
            </div>
        </form>
    </div>

    <div class="row justify-content-center pt-5">
    <div class="col-8">
        <ul class="list-group">
            <li class="list-group-item  justify-content-between list-group-item-action">
                <div class="d-flex">
                <div class="col ">
                    Task
                    {% if orderby == 'nameasc'%}
                    <a href="{{ request.path }}?orderby=namedesc">
                        <i class="bi bi-sort-alpha-down"></i>
                    </a>
                    {% else %}
                    <a href="{{ request.path }}?orderby=nameasc">
                        <i class="bi bi-sort-alpha-up"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="col-5">
                    Due Date
                    {% if orderby == 'dueasc'%}
                    <a href="{{ request.path }}?orderby=duedesc">
                        <i class="bi bi-sort-down"></i>
                    </a>
                    {% else %}
                    <a href="{{ request.path }}?orderby=dueasc">
                        <i class="bi bi-sort-up"></i>
                    </a>
                    {% endif %}
                </div>
                </div>
            </li>
            {%  for item in items %}
                {%  if item.done == False or None %}
            <li class="list-group-item  justify-content-between list-group-item-action">
            <div class="d-flex">
                <div class="col-1">
                    <a href="done/{{ item.id }}"><i class="bi {%  if item.done %}bi-check-square{% else %}bi-square{% endif %}"></i></a>
                </div>
                <div class="col list-group {% if item.done == True %}text-decoration-line-through{% endif %}"
                     data-bs-target="#list-collapse-{{ item.id }}"
                     data-bs-toggle="collapse" >
                    <div>
                        <a href="update/{{ item.id }}"
                           class="list-item mb-1 text-decoration-none {%  if item.done == True %}text-muted{% endif %}"
                            onclick="location.href='update/{{ item.id }}'">
                            {{ item.name }}</a>
                    </div>
                    <div class="collapse" id="list-collapse-{{ item.id }}"><small>{{ item.description }}</small></div>
                </div>
                <div class="col-4 text-muted">
                    <i class="bi bi-clock"></i> {{ item.due_date }}
                </div>
                <div class="col-1">
                    <a href="delete/{{ item.id }}" class="text-decoration-none text-danger"><i class="bi bi-trash"></i></a>
                </div>
                </div>
            </li>
                {% endif %}
        {% endfor %}
        </ul>

        <div class="row p-4 justify-content-center">
               <button class="btn btn-light col-8 col-lg-4" data-bs-target="#done-collapse" data-bs-toggle="collapse">
                   <i class="bi bi-check-all"></i> Show done
               </button>
        </div>

                <hr class="bg-light my-3"/>

       <ul class="list-group collapse" id="done-collapse">
            {%  for item in items %}
                {%  if item.done == True %}
            <li class="list-group-item  justify-content-between list-group-item-action">
            <div class="d-flex">
                <div class="col-1">
                    <a href="done/{{ item.id }}"><input type="checkbox" class="form-check-input" id="done"  {%  if item.done == True %}checked{% endif %}/></a>
                </div>
                <div class="col {%  if item.done == True %}text-decoration-line-through{% endif %}">
                    <a href="update/{{ item.id }}" class="text-decoration-none {%  if item.done == True %}text-muted {% endif %}">{{ item.name }}</a>
                </div>
                <div class="col-4 text-muted">
                    <i class="bi bi-clock"></i> {{ item.due_date }}
                </div>
                <div class="col-1">
                    <a href="delete/{{ item.id }}" class="text-decoration-none text-danger"><i class="bi bi-trash"></i></a>
                </div>
                </div>
            </li>
                {% endif %}
        {% endfor %}
        </ul>

    </div>

    </div>

{%  endblock %}