{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static '/css/rpgui.min.css' %}" rel="stylesheet" type="text/css" >
    <script src="{% static '/js/rpgui.min.js' %}"></script>
    <style>
        .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
    </style>
</head>
<body>
    <div class="rpgui-content rpgui-cursor-default" style="overflow-y:scroll;">

        <div class="container">
            <div id="main"></div>
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>