<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{station.title}}</h5>
      <p class="card-text">{{station.text}}</p>
      {% for choice in station.choice_set.all %}
        <a href="{{choice.next_station.name}}" class="btn btn-primary">{{choice.text}}</a>
      {% endfor %}
    </div>
  </div>
</div>