{% extends 'adventure/base.html' %}
{% load static %}

{%  block content %}
<div class="inner rpgui-container framed" style="position:relative" >
  <div class="">
      <header><h1 class="" style="font-size:250%">{{station.title}}</h1></header>
        <hr class="golden">
        <div class="rpgui-container framed-grey">
            <img src="/media/{{ station.image }}" class="center" style="max-width: 1024px; max-height: 100%; object-fit: contain; "/>
        </div>
        <div class="rpgui-container framed-grey">
            <p class="">{{station.text}}</p>
        </div>
        <div class="rpgui-center">
        {% for choice in station.choice_set.all %}
            <button onclick="window.location.href='{{choice.next_station.name}}'" class="rpgui-button">{{choice.text}}</button>
        {% endfor %}
        </div>

    </div>
  </div>
{%  endblock %}