{%  extends 'bookshelf/base.html' %}
{%  load static %}

{%  block content %}

<div class="row">
    <div class="col-12 pt-3 pb-3">
        <h1 class="display-6 text-center"> {{ book.title }} </h1>
    </div>

    <div class="col-3"><img src="/media/{{ book.image }}" /></div>
    <div class="col-9">
    <ul class="list-group">
        <li class="list-group-item">
            Author: {{ book.author }}
        </li>
        <li class="list-group-item">
            Publisher: {{ book.publisher }}
        </li>
        <li class="list-group-item">
            Place: {{ book.place }}
        </li>
        <li class="list-group-item">
            Edition: {{ book.edition }}
        </li>
        <li class="list-group-item">
            Volume: {{ book.volume }}
        </li>
        <li class="list-group-item">
            Language: {{ book.langugae }}
        </li>
        <li class="list-group-item">
            Price: {{ book.price }}
        </li>
        <li class="list-group-item">
            ISBN: {{ book.isbn }}
        </li>
        <li class="list-group-item">
            ISBN 10: {{ book.isbn10 }}
        </li>
        <li class="list-group-item">
            Publication date: {{ book.publication_date }}
        </li>
        <li class="list-group-item">
            Call number: {{ book.call_number }}
        </li>
        <li class="list-group-item">
            Category: {{ book.category }}
        </li>
    </ul>
        </div>
</div>

{% endblock %}