{%  extends 'bookshelf/base.html' %}
{%  load static %}

{%  block content %}

    <div class="row">
        <div class="col-12">
            <form class="row mb-3">
                <div class="col-11">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="search" aria-describedby="search">
                    <button type="submit" class="btn btn-outline-primary"><i class="bi bi-search"></i> Search</button>
                </div>
                    </div>
                <div class="col-1">
              <button type="submit" class="btn btn-danger"><i class="bi bi-book"></i> New</button>
                    </div>
            </form>
        </div>
    </div>

    <div class="row">
    <div class="col-3">
        <ul class="list-group">
            <li class="list-group-item">
                    <h6 class="small">Categories</h6>
            </li>
            {% for category in categories %}
            <li class="list-group-item">
                <a href="#">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-9">
        {% for book in books %}
            <div class="card" style="width: 18rem;">
                <img src="/media/{{ book.image }}" class="card-img-top" alt="Title image">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Author: {{ book.author }}</li>
                        <li class="list-group-item">Volume: {{ book.volume }}</li>
                        <li class="list-group-item">Call number: {{ book.call_number }}</li>
                    </ul>
                    <a href="{% url 'book' book_id=book.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}